* {
font-family: 'Helvetica', 'Arial', sans-serif;
color: black;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #db854f;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

.navbar li a:hover {
    background-color: #edae87;
}


.query-container {
  margin-top: 30%;
  height: 200px;
  position: relative;
}

.chatbot-query {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateX(50%) translateY(-50%);
  transform: translateX(50%) translateY(-50%);
  right: 50%;
}

#query {
    width: 100%;
    resize: none;
}