* {
font-family: 'Raleway', 'Arial', sans-serif;
color: black;
}

/* Color scheme */
:root {
}

/* Animations */
@keyframes slide-left {
    from {
        transform: translateX(70%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes slide-up {
    from {
        transform: translateY(70%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes header-color-change {
    from {
        color: white;
    }
    to {
        color: black;
    }
}

@keyframes light-gray-background-change {
    from {
        background: white;
    }
    to {
        background: #e3e3e3;
    }
}

/* ---------- */

button {
    padding: 10px;
    background: white;
    border-radius: 10px;
    transition: background 0.1s;
}

button:hover {
    background: #db854f;
    cursor: pointer;
}

h1 {
    animation: slide-left 1s cubic-bezier(0, 0, 0.1, 1.0), header-color-change 1s linear;
}

#chat-box {
    animation: slide-up 1s cubic-bezier(0, 0, 0.1, 1.0), light-gray-background-change 1s linear;
}

.chatbot-query {
    animation: slide-up 1s cubic-bezier(0, 0, 0.1, 1.0);
}

.reg-div {
    animation-duration: 1s;
    animation-name: slide-in;
    animation-timing-function: cubic-bezier(0, 0, 0.1, 1.0);
}

.user-info-panel {
    animation: slide-up 1s cubic-bezier(0, 0, 0.1, 1.0), header-color-change 1s linear;
}

.profile-icon {
    float: right;
}

.navbar {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #db854f;
    transition: width 0.2s;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

.navbar li a:hover {
    background-color: #edae87;
}

#chat-box {
    position: absolute;
    overflow-y: scroll;
    width: 95%;
    height: 55%;
    border-radius: 10px;
    background: #e3e3e3;
}

#chat-box li {
    list-style-type: none;
    list-style-position: inside;
    padding: 10px;
}

.user-msg {
    position: relative;
    left: 50%;
    width: 40%;
    text-align: right;
    border-radius: 25px;
    color: white;
    background-color: #7a431d;
    font-size: 14px;
    line-height: 150%;
}

.ai-msg {
    position: relative;
    width: 60%;
    text-align: left;
    border-radius: 25px;
    color: white;
    background-color: #878787;
    font-size: 14px;
    line-height: 150%;
}

.chatbot-query {
  margin: 0;
  width: 100%;
  height: 10%;
  position: absolute;
  -ms-transform: translateX(50%) translateY(-50%);
  transform: translateX(50%) translateY(-50%);
  top: 85%;
  right: 50%;
}

#query {
    width: 100%;
    resize: none;
    border: none;
}

#query:focus {
    outline: none;
}

/* Profile */
#username-field {
    border: none;
    background-color: #e3e3e3;
    font-size: 16px;
}

#username-field::placeholder {
    color: black;
}

.user-info-panel {
    background: #e3e3e3;
    border-radius: 10px;
    padding: 5px;
}

.user-study-option {
    background: #db854f;
}