<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>

<body>
<!-- Header to house the navbar and profile shortcut and icon -->
<header>
    <!-- Toggle navbar -->
    <button class="navbar-button" onclick="moveNavbar()">
        <img src="../images/nav_icon.jpg">
    </button>

    <!--  Shortcut to profile page  -->
    <button class="profile-icon">
        {% if username %}
            <a href="/user/{{ username }}" style="text-decoration: none">Profile</a>
        {% else %}
            <a href="/login" style="text-decoration: none">Profile</a>
        {% endif %}
    </button>
</header>

<!-- Navigation menu -->
<div class="navbar">
    <ul>
        <li><a href="/chatbot">Chatbot</a></li>
        <li><a href="/register">Register</a></li>
        <li>
            {% if username %}
                <a href="/user/{{ username }}">Profile</a>
            {% else %}
                <a href="/login">Profile</a>
            {% endif %}
        </li>
        <li>
            {% if username %}
                <a href="#" onclick="userLogout()" id="logout">Logout</a>
            {% else %}
                <a href="/login">Login</a>
            {% endif %}
        </li>
    </ul>
</div>

{% if username %}
    <h1>{{ username }}'s Chat</h1>
{% endif %}

<!--Chat box-->
<ul id="chat-box"></ul>

<!-- User query box -->
<div class="chatbot-query">
    <!-- File upload -->
    <div class="file-upload-container">
        <form onsubmit="return validateFileUpload()" method="post" enctype="multipart/form-data">
            <input type="file" id="file-upload" name="file-upload">
            <input type="submit">
        </form>
        <p id="upload-status"></p>
        <p id="temp"></p>
    </div>
    <hr>
    <form action="/chatbot">
        <textarea id="query" name="query" cols="100" rows="10" placeholder="Type something..."></textarea>
    </form>
</div>

</body>
</html>

<script src="static/chatbot-script.js" defer></script>
{% if username %}
    <script src="static/user-logout.js" defer></script>
{% endif %}

<!-- Navbar menu -->
<script src="static/navbar.js" defer></script>
