<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>

<body>
<!-- Navigation menu -->
<ul class="navbar">
    <li><a href="/chatbot">Chatbot</a></li>
    <li><a href="/register">Register</a></li>
    <li>
        {% if username %}
            <a href="/user/{{ username }}">Profile</a>
        {% else %}
            <a href="/login">Profile</a>
        {% endif %}
    </li>
    <li>
        {% if username %}
            <a href="#" onclick="userLogout()" id="logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    </li>
</ul>

{% if username %}
    <h1>{{ username }}'s Chat</h1>
{% else %}
    <h1>Chat</h1>
{% endif %}

<!--Chat box-->
<ul id="chat-box"></ul>

<!-- User query box -->
<div class="chatbot-query">
    <!-- Follow-up questions -->
    <div class="follow-up-queries-container">
        <button onclick="handleFollowupButtonClick()"></button>
        <button onclick="handleFollowupButtonClick()"></button>
        <button onclick="handleFollowupButtonClick()"></button>
    </div>

    <!-- File upload -->
    <div class="file-upload-container">
        <form onsubmit="return validateFileUpload()" method="post" enctype="multipart/form-data">
            <input type="file" id="file-upload" name="file-upload">
            <input type="submit">
        </form>
        <p id="upload-status"></p>
    </div>

    <!-- Query box -->
    <hr>
    <form action="/chatbot">
        <textarea id="query" name="query" cols="100" rows="10" placeholder="Type something..."></textarea>
    </form>
</div>

</body>
</html>

<script src="static/chatbot-script.js?newversion" defer></script>
{% if username %}
    <script src="static/user-logout.js" defer></script>
{% endif %}
