<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>
<body>
<nav>
    <a href="/chatbot">Chatbot</a>
    <a href="/register">Register</a>
    {% if username %}
        <a href="/user/{{ username }}">Profile</a>
    {% else %}
        <a href="/login">Profile</a>
    {% endif %}
    {% if username %}
        <a href="#" onclick="userLogout()" id="logout">Logout</a>
    {% else %}
        <a href="/login">Login</a>
    {% endif %}
</nav>
<ul id="chat"></ul>
<div class="file-upload-container">
    <form onsubmit="return validateFileUpload()" method="post" enctype="multipart/form-data">
        <input type="file" id="file-upload" name="file-upload">
        <input type="submit">
    </form>
</div>
<div class="query-container">
    <div class="chatbot-query">
        User:
        <form action="/chatbot">
            <textarea id="query" name="query" cols="100" rows="10"></textarea>
        </form>
    </div>
</div>
</body>
</html>

<script src="static/chatbot-script.js" defer></script>
{% if username %}
    <script src="static/user-logout.js" defer></script>
{% endif %}