<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<!-- Header to house the navbar and profile shortcut and icon -->

<!-- Navigation menu -->
<ul class="navbar">
    <li><a href="/chatbot">Chatbot</a></li>
    <li><a href="/register">Register</a></li>
    <li>
        {% if username %}
            <a href="/user/{{ username }}">Profile</a>
        {% else %}
            <a href="/login">Profile</a>
        {% endif %}
    </li>
    <li>
        {% if username %}
            <a href="#" onclick="userLogout()" id="logout">Logout</a>
        {% else %}
            <a href="/login">Login</a>
        {% endif %}
    </li>
</ul>

<h1>Hi there, {{ username }}!</h1>

<!-- User information panel -->
<div class="user-info-panel">
    <form>
        <h2>Username</h2>

        <input type="text" name="username-field" readonly="readonly" placeholder="{{ username }}">
        <button name="username-field">Update</button>

        <h2>Email</h2>
        <input type="text" name="email-field" readonly="readonly" placeholder="{{ email }}">
        <button name="email-field">Update</button>

        <h2>Major/Field of Study</h2>
        <select>
            <option value="Mathematics" class="user-study-option">Mathematics</option>
            <option value="Not Mathematics" class="user-study-option">Not Mathematics</option>
        </select>
        <p></p>

        <h2>Coins</h2>
        <p id="coins-field">{{ coins }}</p>
    </form>

    <a href="/user/{{ username }}/username">
        <button>Update Profile</button>
    </a>
</div>

</body>
</html>

<script>
    const usernameButton = document.getElementsByName("username-field")[1];
    const emailButton = document.getElementsByName("email-field")[1];

    usernameButton.addEventListener("click", updateUserDetail);
    emailButton.addEventListener("click", updateUserDetail);

    function updateUserDetail(e) {
        e.preventDefault();
        const userDetail = document.getElementsByName(this.name)[0];
        userDetail.readOnly = false;
        userDetail.addEventListener("keydown", sendDetailUpdate);
        this.innerHTML = "OK";
    }

    function sendDetailUpdate(e) {
        if (e.keyCode == 13) {
            e.preventDefault();
            var reqBody = {}
            reqBody.username = (this.name == "username-field") ? this.value : "";
            reqBody.email = (this.name == "email-field") ? this.value : "";
            reqBody.password = "";
            fetch("/user/{{ username }}/update-user", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(reqBody)
            })
            .catch(error => {
                alert(error);
            });

            const button = document.getElementsByName(this.name)[1];
            button.innerHTML = "Update";
            this.readOnly = true;
        }
    }
</script>