<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
</head>
<body>
<!-- Header to house the navbar and profile shortcut and icon -->
<header>
    <!-- Toggle navbar -->
    <button class="navbar-button" onclick="moveNavbar()">
        <img src="../images/nav_icon.jpg">
    </button>

    <!--  Shortcut to profile page  -->
    <button class="profile-icon">
        {% if username %}
            <a href="/user/{{ username }}" style="text-decoration: none">Profile</a>
        {% else %}
            <a href="/login" style="text-decoration: none">Profile</a>
        {% endif %}
    </button>
</header>

<!-- Navigation menu -->
<div class="navbar">
    <ul>
        <li><a href="/chatbot">Chatbot</a></li>
        <li><a href="/register">Register</a></li>
        <li>
            {% if username %}
                <a href="/user/{{ username }}">Profile</a>
            {% else %}
                <a href="/login">Profile</a>
            {% endif %}
        </li>
        <li>
            {% if username %}
                <a href="#" onclick="userLogout()" id="logout">Logout</a>
            {% else %}
                <a href="/login">Login</a>
            {% endif %}
        </li>
    </ul>
</div>

<h1>Hi there, {{ username }}!</h1>

<!-- User information panel -->
<div class="user-info-panel">
    <h2>Username</h2>

    <p>{{ username }}</p>

    <h2>Email</h2>
    <p>{{ email }}</p>

    <h2>Major/Field of Study</h2>
    <select>
        <option value="Mathematics" class="user-study-option">Mathematics</option>
        <option value="Not Mathematics" class="user-study-option">Not Mathematics</option>
    </select>
    <p></p>

    <h2>Coins</h2>
    <p>{{ coins }}</p>

    <a href="/user/{{ username }}/username">
        <button>Update Profile</button>
    </a>
</div>

</body>
</html>

<!-- Navbar menu -->
<script src="../static/navbar.js" defer></script>